--
-- PostgreSQL database dump
--
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;
GRANT ALL ON SCHEMA public TO public;
\restrict r4is6R072MU69O2zR2F9W2B1I1PEFIHQ2BBSrpbzJcukvtasMEPYbfWAHN3Wo1h

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cambio_estado; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cambio_estado (
    id integer NOT NULL,
    "fechaCambio" timestamp without time zone DEFAULT now() NOT NULL,
    motivo character varying,
    "responsableId" integer NOT NULL,
    "solicitudId" integer,
    "estadoNuevoId" integer,
    "estadoAnteriorId" integer
);


ALTER TABLE public.cambio_estado OWNER TO admin;

--
-- Name: cambio_estado_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cambio_estado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cambio_estado_id_seq OWNER TO admin;

--
-- Name: cambio_estado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cambio_estado_id_seq OWNED BY public.cambio_estado.id;


--
-- Name: estado; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.estado (
    id integer NOT NULL,
    nombre character varying DEFAULT 'Sin nombre'::character varying NOT NULL
);


ALTER TABLE public.estado OWNER TO admin;

--
-- Name: estado_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.estado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estado_id_seq OWNER TO admin;

--
-- Name: estado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.estado_id_seq OWNED BY public.estado.id;


--
-- Name: formulario_adopcion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.formulario_adopcion (
    id integer NOT NULL,
    "motivoAdopcion" character varying NOT NULL,
    "experienciaPrevia" character varying NOT NULL,
    "tieneOtrosAnimales" boolean NOT NULL,
    "cantidadPerros" integer DEFAULT 0,
    "cantidadGatos" integer DEFAULT 0,
    "otrasEspeciesDescripcion" character varying,
    "tipoVivienda" character varying NOT NULL,
    "tienePatio" boolean,
    "tieneBalcon" boolean,
    "balconConProteccion" boolean,
    "medidasDeSeguridad" character varying NOT NULL,
    "tiempoAnimalSoloHoras" integer NOT NULL,
    "compromisoPaseos" boolean NOT NULL,
    "compromisoGastosVet" boolean NOT NULL
);


ALTER TABLE public.formulario_adopcion OWNER TO admin;

--
-- Name: formulario_adopcion_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.formulario_adopcion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.formulario_adopcion_id_seq OWNER TO admin;

--
-- Name: formulario_adopcion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.formulario_adopcion_id_seq OWNED BY public.formulario_adopcion.id;


--
-- Name: solicitud_adopcion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.solicitud_adopcion (
    id integer NOT NULL,
    "fechaSolicitud" timestamp without time zone DEFAULT now() NOT NULL,
    "adoptanteId" integer NOT NULL,
    "animalId" integer NOT NULL,
    "formularioId" integer,
    "estadoActualId" integer
);


ALTER TABLE public.solicitud_adopcion OWNER TO admin;

--
-- Name: solicitud_adopcion_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.solicitud_adopcion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.solicitud_adopcion_id_seq OWNER TO admin;

--
-- Name: solicitud_adopcion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.solicitud_adopcion_id_seq OWNED BY public.solicitud_adopcion.id;


--
-- Name: cambio_estado id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado ALTER COLUMN id SET DEFAULT nextval('public.cambio_estado_id_seq'::regclass);


--
-- Name: estado id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.estado ALTER COLUMN id SET DEFAULT nextval('public.estado_id_seq'::regclass);


--
-- Name: formulario_adopcion id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.formulario_adopcion ALTER COLUMN id SET DEFAULT nextval('public.formulario_adopcion_id_seq'::regclass);


--
-- Name: solicitud_adopcion id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitud_adopcion ALTER COLUMN id SET DEFAULT nextval('public.solicitud_adopcion_id_seq'::regclass);


--
-- Data for Name: cambio_estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cambio_estado (id, "fechaCambio", motivo, "responsableId", "solicitudId", "estadoNuevoId", "estadoAnteriorId") FROM stdin;
\.


--
-- Data for Name: estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.estado (id, nombre) FROM stdin;
1	Pendiente
2	Aprobada
3	Rechazada
4	Finalizada
\.


--
-- Data for Name: formulario_adopcion; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: solicitud_adopcion; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.solicitud_adopcion (id, "fechaSolicitud", "adoptanteId", "animalId", "formularioId", "estadoActualId") FROM stdin;
1	2025-11-18 13:07:11.883611	8	1	1	1
2	2025-11-18 13:07:11.883611	9	3	2	1
3	2025-11-18 13:07:11.883611	10	7	3	1
4	2025-11-18 13:07:11.883611	8	5	4	1
\.


--
-- Name: cambio_estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cambio_estado_id_seq', 1, false);


--
-- Name: estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.estado_id_seq', 4, true);


--
-- Name: formulario_adopcion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.formulario_adopcion_id_seq', 4, true);


--
-- Name: solicitud_adopcion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.solicitud_adopcion_id_seq', 4, true);


--
-- Name: formulario_adopcion PK_202e0fd51b53ba5ac2cb953dc17; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.formulario_adopcion
    ADD CONSTRAINT "PK_202e0fd51b53ba5ac2cb953dc17" PRIMARY KEY (id);


--
-- Name: cambio_estado PK_62bb06443b1eb1255c05f40bff3; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "PK_62bb06443b1eb1255c05f40bff3" PRIMARY KEY (id);


--
-- Name: solicitud_adopcion PK_660b0afc6187b6b0419c9481fd5; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitud_adopcion
    ADD CONSTRAINT "PK_660b0afc6187b6b0419c9481fd5" PRIMARY KEY (id);


--
-- Name: estado PK_be2ef64a21d36522aa1ecb24886; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.estado
    ADD CONSTRAINT "PK_be2ef64a21d36522aa1ecb24886" PRIMARY KEY (id);


--
-- Name: solicitud_adopcion REL_7dd671cc3d4c62940e715307e9; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitud_adopcion
    ADD CONSTRAINT "REL_7dd671cc3d4c62940e715307e9" UNIQUE ("formularioId");


--
-- Name: cambio_estado FK_176eb02d0eaf533582261aa8953; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "FK_176eb02d0eaf533582261aa8953" FOREIGN KEY ("estadoAnteriorId") REFERENCES public.estado(id);


--
-- Name: cambio_estado FK_3f6f2cc11d909e978a4430df35a; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "FK_3f6f2cc11d909e978a4430df35a" FOREIGN KEY ("solicitudId") REFERENCES public.solicitud_adopcion(id);


--
-- Name: solicitud_adopcion FK_7dd671cc3d4c62940e715307e9a; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitud_adopcion
    ADD CONSTRAINT "FK_7dd671cc3d4c62940e715307e9a" FOREIGN KEY ("formularioId") REFERENCES public.formulario_adopcion(id);


--
-- Name: solicitud_adopcion FK_c464773ac4b2919c62081b926f6; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.solicitud_adopcion
    ADD CONSTRAINT "FK_c464773ac4b2919c62081b926f6" FOREIGN KEY ("estadoActualId") REFERENCES public.estado(id);


--
-- Name: cambio_estado FK_f5ffc531251a36b4cfe0a839c93; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "FK_f5ffc531251a36b4cfe0a839c93" FOREIGN KEY ("estadoNuevoId") REFERENCES public.estado(id);


--
-- PostgreSQL database dump complete
--

\unrestrict r4is6R072MU69O2zR2F9W2B1I1PEFIHQ2BBSrpbzJcukvtasMEPYbfWAHN3Wo1h

