--
-- PostgreSQL database dump
--
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;
GRANT ALL ON SCHEMA public TO public;
\restrict KETYypITfNNMownxIfTnW03dvy5hu9cb61UGTTff4kwDNftq5GHcxCkk8OqMKfU

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categoria_insumo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.categoria_insumo (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.categoria_insumo OWNER TO admin;

--
-- Name: categoria_insumo_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.categoria_insumo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categoria_insumo_id_seq OWNER TO admin;

--
-- Name: categoria_insumo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.categoria_insumo_id_seq OWNED BY public.categoria_insumo.id;


--
-- Name: insumo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.insumo (
    id integer NOT NULL,
    nombre character varying(255) NOT NULL,
    descripcion text,
    stock integer DEFAULT 0 NOT NULL,
    "unidadMedida" character varying(50) NOT NULL,
    atributos jsonb DEFAULT '{}'::jsonb,
    "categoriaId" integer NOT NULL
);


ALTER TABLE public.insumo OWNER TO admin;

--
-- Name: insumo_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.insumo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.insumo_id_seq OWNER TO admin;

--
-- Name: insumo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.insumo_id_seq OWNED BY public.insumo.id;


--
-- Name: categoria_insumo id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categoria_insumo ALTER COLUMN id SET DEFAULT nextval('public.categoria_insumo_id_seq'::regclass);


--
-- Name: insumo id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insumo ALTER COLUMN id SET DEFAULT nextval('public.insumo_id_seq'::regclass);


--
-- Data for Name: categoria_insumo; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.categoria_insumo (id, nombre) FROM stdin;
1	Alimentos
2	Medicamentos
3	Higiene
4	Accesorios
\.


--
-- Data for Name: insumo; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: categoria_insumo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.categoria_insumo_id_seq', 1, false);


--
-- Name: insumo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.insumo_id_seq', 14, true);


--
-- Name: insumo PK_5d2039ce43d4611cfaf0a04f879; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insumo
    ADD CONSTRAINT "PK_5d2039ce43d4611cfaf0a04f879" PRIMARY KEY (id);


--
-- Name: categoria_insumo PK_9eb1720059156d02d59e5c33862; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categoria_insumo
    ADD CONSTRAINT "PK_9eb1720059156d02d59e5c33862" PRIMARY KEY (id);


--
-- Name: categoria_insumo UQ_bc7bc115cb3d7db913b06a34256; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categoria_insumo
    ADD CONSTRAINT "UQ_bc7bc115cb3d7db913b06a34256" UNIQUE (nombre);


--
-- Name: insumo FK_ec47364c2f8895e0d3a8d003b03; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.insumo
    ADD CONSTRAINT "FK_ec47364c2f8895e0d3a8d003b03" FOREIGN KEY ("categoriaId") REFERENCES public.categoria_insumo(id);


--
-- PostgreSQL database dump complete
--

\unrestrict KETYypITfNNMownxIfTnW03dvy5hu9cb61UGTTff4kwDNftq5GHcxCkk8OqMKfU

