--
-- PostgreSQL database dump
--
DROP SCHEMA public CASCADE;
CREATE SCHEMA public;
GRANT ALL ON SCHEMA public TO public;
\restrict 3m4Qcq5Qcd9y5oC2GF70h2icEsaGmzKvKI2kfYaMKIsO3UgPr6iWJfKnSgBY0vn

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: permisos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.permisos (
    id integer NOT NULL,
    nombre character varying NOT NULL
);


ALTER TABLE public.permisos OWNER TO admin;

--
-- Name: permisos_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.permisos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permisos_id_seq OWNER TO admin;

--
-- Name: permisos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.permisos_id_seq OWNED BY public.permisos.id;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rol (
    id integer NOT NULL,
    nombre character varying DEFAULT 'Sin nombre'::character varying NOT NULL
);


ALTER TABLE public.rol OWNER TO admin;

--
-- Name: rol_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rol_id_seq OWNER TO admin;

--
-- Name: rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.rol_id_seq OWNED BY public.rol.id;


--
-- Name: rol_permisos_permisos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rol_permisos_permisos (
    "rolId" integer NOT NULL,
    "permisosId" integer NOT NULL
);


ALTER TABLE public.rol_permisos_permisos OWNER TO admin;

--
-- Name: usuario; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuario (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    apellido character varying NOT NULL,
    dni integer NOT NULL,
    sexo character varying NOT NULL,
    "fechaNacimiento" timestamp without time zone NOT NULL,
    direccion character varying NOT NULL,
    email character varying NOT NULL,
    contrasena character varying,
    telefono character varying NOT NULL,
    "googleId" character varying,
    "rolId" integer
);


ALTER TABLE public.usuario OWNER TO admin;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.usuario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuario_id_seq OWNER TO admin;

--
-- Name: usuario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.usuario_id_seq OWNED BY public.usuario.id;


--
-- Name: permisos id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.permisos ALTER COLUMN id SET DEFAULT nextval('public.permisos_id_seq'::regclass);


--
-- Name: rol id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol ALTER COLUMN id SET DEFAULT nextval('public.rol_id_seq'::regclass);


--
-- Name: usuario id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id SET DEFAULT nextval('public.usuario_id_seq'::regclass);


--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.permisos (id, nombre) FROM stdin;
1	gestionar_usuarios
2	gestionar_animales
3	gestionar_adopciones
4	gestionar_donaciones
5	gestionar_inventarios
\.


--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.rol (id, nombre) FROM stdin;
2	admin general
3	responsable de adopciones
4	responsable de animales
5	responsable de donaciones
6	responsable de inventarios
1	interesado
\.


--
-- Data for Name: rol_permisos_permisos; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.rol_permisos_permisos ("rolId", "permisosId") FROM stdin;
2	1
2	2
2	3
2	4
2	5
3	3
4	2
5	4
6	5
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: permisos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.permisos_id_seq', 5, true);


--
-- Name: rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rol_id_seq', 1, false);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.usuario_id_seq', 10, true);


--
-- Name: rol_permisos_permisos PK_11560d852c22ce36c2fbbbdc61b; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_permisos_permisos
    ADD CONSTRAINT "PK_11560d852c22ce36c2fbbbdc61b" PRIMARY KEY ("rolId", "permisosId");


--
-- Name: permisos PK_3127bd9cfeb13ae76186d0d9b38; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT "PK_3127bd9cfeb13ae76186d0d9b38" PRIMARY KEY (id);


--
-- Name: usuario PK_a56c58e5cabaa04fb2c98d2d7e2; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "PK_a56c58e5cabaa04fb2c98d2d7e2" PRIMARY KEY (id);


--
-- Name: rol PK_c93a22388638fac311781c7f2dd; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT "PK_c93a22388638fac311781c7f2dd" PRIMARY KEY (id);


--
-- Name: IDX_2863682842e688ca198eb25c12; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IDX_2863682842e688ca198eb25c12" ON public.usuario USING btree (email);


--
-- Name: IDX_61d35bf80f48dd1f227af2a4a2; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IDX_61d35bf80f48dd1f227af2a4a2" ON public.usuario USING btree ("googleId") WHERE ("googleId" IS NOT NULL);


--
-- Name: IDX_9792c580a992d554ee1621c5b4; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IDX_9792c580a992d554ee1621c5b4" ON public.rol USING btree (nombre);


--
-- Name: IDX_d54e4bf0276ee5778ba0ac53dc; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IDX_d54e4bf0276ee5778ba0ac53dc" ON public.rol_permisos_permisos USING btree ("permisosId");


--
-- Name: IDX_e6c85814dc17fd42c633d03562; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IDX_e6c85814dc17fd42c633d03562" ON public.rol_permisos_permisos USING btree ("rolId");


--
-- Name: usuario FK_611daf5befc024d9e0bd7bdf4da; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT "FK_611daf5befc024d9e0bd7bdf4da" FOREIGN KEY ("rolId") REFERENCES public.rol(id);


--
-- Name: rol_permisos_permisos FK_d54e4bf0276ee5778ba0ac53dcd; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_permisos_permisos
    ADD CONSTRAINT "FK_d54e4bf0276ee5778ba0ac53dcd" FOREIGN KEY ("permisosId") REFERENCES public.permisos(id);


--
-- Name: rol_permisos_permisos FK_e6c85814dc17fd42c633d035627; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol_permisos_permisos
    ADD CONSTRAINT "FK_e6c85814dc17fd42c633d035627" FOREIGN KEY ("rolId") REFERENCES public.rol(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3m4Qcq5Qcd9y5oC2GF70h2icEsaGmzKvKI2kfYaMKIsO3UgPr6iWJfKnSgBY0vn

