--
-- PostgreSQL database dump
--

\restrict qN23A71MhaVasUmkqLgTodRNtwMcAS3lxr9v1pofWsX7JtyFKB0m87an3SWRA5x

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: especie; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.especie (id, nombre) FROM stdin;
1	Perro
2	Gato
\.


--
-- Data for Name: estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.estado (id, nombre) FROM stdin;
1	enAdopcion
2	pendienteAdopcion
3	adoptado
\.


--
-- Data for Name: raza; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: animal; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: cambio_estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cambio_estado (id, "fechaHoraInicio", "fechaHoraFin", "animalId") FROM stdin;
\.


--
-- Data for Name: sexo; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sexo (id, nombre) FROM stdin;
\.


--
-- Name: animal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.animal_id_seq', 13, true);


--
-- Name: cambio_estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cambio_estado_id_seq', 1, false);


--
-- Name: especie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.especie_id_seq', 2, true);


--
-- Name: estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.estado_id_seq', 3, true);


--
-- Name: raza_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.raza_id_seq', 60, true);


--
-- Name: sexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sexo_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict qN23A71MhaVasUmkqLgTodRNtwMcAS3lxr9v1pofWsX7JtyFKB0m87an3SWRA5x

