--
-- PostgreSQL database dump
--

\restrict 5NxBWUZbPzm5gsinaMxoJ6gcifUxQcgX6d1LTqmt7x6yTIt9JYm9UMJZCsEG7KQ

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: animal; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.animal (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    "fechaNacimiento" date,
    descripcion character varying NOT NULL,
    foto character varying NOT NULL,
    raza_id integer,
    especie_id integer,
    "estadoActual_id" integer,
    sexo character varying NOT NULL
);


ALTER TABLE public.animal OWNER TO admin;

--
-- Name: animal_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.animal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.animal_id_seq OWNER TO admin;

--
-- Name: animal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.animal_id_seq OWNED BY public.animal.id;


--
-- Name: cambio_estado; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cambio_estado (
    id integer NOT NULL,
    "fechaHoraInicio" character varying NOT NULL,
    "fechaHoraFin" character varying NOT NULL,
    "animalId" integer
);


ALTER TABLE public.cambio_estado OWNER TO admin;

--
-- Name: cambio_estado_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cambio_estado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cambio_estado_id_seq OWNER TO admin;

--
-- Name: cambio_estado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cambio_estado_id_seq OWNED BY public.cambio_estado.id;


--
-- Name: especie; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.especie (
    id integer NOT NULL,
    nombre character varying NOT NULL
);


ALTER TABLE public.especie OWNER TO admin;

--
-- Name: especie_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.especie_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.especie_id_seq OWNER TO admin;

--
-- Name: especie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.especie_id_seq OWNED BY public.especie.id;


--
-- Name: estado; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.estado (
    id integer NOT NULL,
    nombre character varying NOT NULL
);


ALTER TABLE public.estado OWNER TO admin;

--
-- Name: estado_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.estado_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.estado_id_seq OWNER TO admin;

--
-- Name: estado_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.estado_id_seq OWNED BY public.estado.id;


--
-- Name: raza; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.raza (
    id integer NOT NULL,
    nombre character varying NOT NULL,
    especie_id integer
);


ALTER TABLE public.raza OWNER TO admin;

--
-- Name: raza_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.raza_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.raza_id_seq OWNER TO admin;

--
-- Name: raza_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.raza_id_seq OWNED BY public.raza.id;


--
-- Name: sexo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sexo (
    id integer NOT NULL,
    nombre character varying NOT NULL
);


ALTER TABLE public.sexo OWNER TO admin;

--
-- Name: sexo_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sexo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sexo_id_seq OWNER TO admin;

--
-- Name: sexo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sexo_id_seq OWNED BY public.sexo.id;


--
-- Name: animal id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.animal ALTER COLUMN id SET DEFAULT nextval('public.animal_id_seq'::regclass);


--
-- Name: cambio_estado id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado ALTER COLUMN id SET DEFAULT nextval('public.cambio_estado_id_seq'::regclass);


--
-- Name: especie id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.especie ALTER COLUMN id SET DEFAULT nextval('public.especie_id_seq'::regclass);


--
-- Name: estado id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.estado ALTER COLUMN id SET DEFAULT nextval('public.estado_id_seq'::regclass);


--
-- Name: raza id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.raza ALTER COLUMN id SET DEFAULT nextval('public.raza_id_seq'::regclass);


--
-- Name: sexo id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sexo ALTER COLUMN id SET DEFAULT nextval('public.sexo_id_seq'::regclass);


--
-- Data for Name: animal; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: cambio_estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cambio_estado (id, "fechaHoraInicio", "fechaHoraFin", "animalId") FROM stdin;
\.


--
-- Data for Name: especie; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.especie (id, nombre) FROM stdin;
1	Perro
2	Gato
\.


--
-- Data for Name: estado; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.estado (id, nombre) FROM stdin;
1	enAdopcion
2	pendienteAdopcion
3	adoptado
\.


--
-- Data for Name: raza; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: sexo; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sexo (id, nombre) FROM stdin;
\.


--
-- Name: animal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.animal_id_seq', 13, true);


--
-- Name: cambio_estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cambio_estado_id_seq', 1, false);


--
-- Name: especie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.especie_id_seq', 2, true);


--
-- Name: estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.estado_id_seq', 3, true);


--
-- Name: raza_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.raza_id_seq', 60, true);


--
-- Name: sexo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sexo_id_seq', 1, false);


--
-- Name: especie PK_07fb45be286aefa181943248b21; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.especie
    ADD CONSTRAINT "PK_07fb45be286aefa181943248b21" PRIMARY KEY (id);


--
-- Name: raza PK_0ec1e097b33d55dff937816e3b5; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.raza
    ADD CONSTRAINT "PK_0ec1e097b33d55dff937816e3b5" PRIMARY KEY (id);


--
-- Name: cambio_estado PK_62bb06443b1eb1255c05f40bff3; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "PK_62bb06443b1eb1255c05f40bff3" PRIMARY KEY (id);


--
-- Name: sexo PK_6982133cb1915a7fc82d19be0d9; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sexo
    ADD CONSTRAINT "PK_6982133cb1915a7fc82d19be0d9" PRIMARY KEY (id);


--
-- Name: animal PK_af42b1374c042fb3fa2251f9f42; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT "PK_af42b1374c042fb3fa2251f9f42" PRIMARY KEY (id);


--
-- Name: estado PK_be2ef64a21d36522aa1ecb24886; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.estado
    ADD CONSTRAINT "PK_be2ef64a21d36522aa1ecb24886" PRIMARY KEY (id);


--
-- Name: sexo UQ_2067da148d350a77356d32d337a; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sexo
    ADD CONSTRAINT "UQ_2067da148d350a77356d32d337a" UNIQUE (nombre);


--
-- Name: animal FK_8ab4f55f815d861407fbdd10428; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT "FK_8ab4f55f815d861407fbdd10428" FOREIGN KEY (especie_id) REFERENCES public.especie(id);


--
-- Name: animal FK_9ee8932216d2103d3b0046f10a4; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT "FK_9ee8932216d2103d3b0046f10a4" FOREIGN KEY ("estadoActual_id") REFERENCES public.estado(id);


--
-- Name: cambio_estado FK_af776b0937cdb12d90bffaecac7; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cambio_estado
    ADD CONSTRAINT "FK_af776b0937cdb12d90bffaecac7" FOREIGN KEY ("animalId") REFERENCES public.animal(id);


--
-- Name: animal FK_b895d2a15132512acd72f5a2fc5; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.animal
    ADD CONSTRAINT "FK_b895d2a15132512acd72f5a2fc5" FOREIGN KEY (raza_id) REFERENCES public.raza(id);


--
-- Name: raza FK_d785daef1744cb2f35be5510210; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.raza
    ADD CONSTRAINT "FK_d785daef1744cb2f35be5510210" FOREIGN KEY (especie_id) REFERENCES public.especie(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5NxBWUZbPzm5gsinaMxoJ6gcifUxQcgX6d1LTqmt7x6yTIt9JYm9UMJZCsEG7KQ

